a {
  color: rgb(221, 98, 127) !important;
}

p {
  color: white;
  text-align: center;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

.donate_p {
  text-align: center;
  font-style: arial;
  font-family: Arial, Helvetica, sans-serif;
}

.donate_h1 {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sparkles {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.intro {
  text-decoration-style: wavy;
  text-underline-position: under;
  animation: wavy 2s linear infinite;
  text-align: center;
  color: yellow;
  font-size: 3rem;
  background-image: url('https://img1.picmix.com/output/stamp/normal/6/3/8/4/254836_c277a.gif');
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@keyframes wavy {
  0% {
    transform: skewX(0deg);
  }

  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }

  75% {
    transform: skewX(5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}



h1 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}


/* Nav bar */

.navbar {

  background-size: cover;
  /* Make the background image cover the whole navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;

}


@keyframes sparkle {
  0% {
    background-position: 0 0;
  }

  40% {
    background-position: 100% 0;
  }

  60% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 100%;
  }
}

.home_navbar {
  color: yellow !important;
}

.donate_page {
  color: black !important;
}


.center-text {
  text-align: center !important;
  align-items: center;
}

/* like button and image fade in*/

.img_home {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 6s ease-in-out forwards;
}

.like-button,
.like-count {
  opacity: 0;
  animation: fadeIn 6s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.image-container {
  position: relative;
  height: 50vh;
  /* Set a fixed height for the container */
  width: 50%;
  /* Set a fixed width for the container */
  margin: 0 auto;
  /* Center the container horizontally */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  /* Allow the image to scale with the container */
  object-fit: cover;
  /* Prevent the image from stretching */
}

.like-button {
  position: absolute;
  top: 10%;
  /* Position the button relative to the container height */
  right: 5%;
  /* Position the button relative to the container width */
  /* The rest of the button styles... */
}

.like-count {
  position: absolute;
  bottom: 10%;
  /* Position the count relative to the container height */
  right: 5%;
  /* Position the count relative to the container width */
  /* The rest of the count styles... */
}








/* fundraising thermometer */



.thermometer {}