body {
  background-color: #000;
  background-image: url(https://media.tenor.com/0WtO3Sy6mtEAAAAC/aesthetic-stars.gif);
  background-repeat: repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 50px 50px;
  z-index: -1;
  animation: sparkles 1s linear infinite;
}

a {
  color: rgb(221, 98, 127) !important;
}

p {
  color: white;
  text-align: center;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

@keyframes sparkles {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

.intro {
  text-decoration-style: wavy;
  text-underline-position: under;
  animation: wavy 2s linear infinite;
  text-align: center;
  color: yellow;
  font-size: 3rem;
  background-image: url('https://img1.picmix.com/output/stamp/normal/6/3/8/4/254836_c277a.gif');
  background-size: cover;
  -webkit-background-clip: text;
  */ background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@keyframes wavy {
  0% {
    transform: skewX(0deg);
  }

  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }

  75% {
    transform: skewX(5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}



h1 {
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}


img {
  display: block !important;
  margin: auto !important;
  max-width: 100% !important;
  height: auto !important;
  opacity: 0;
  animation: fadeIn 6s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Nav bar */

.navbar {

  background-size: cover;
  /* Make the background image cover the whole navbar */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-left: 15%;
  margin-right: 15%;

}


@keyframes sparkle {
  0% {
    background-position: 0 0;
  }

  40% {
    background-position: 100% 0;
  }

  60% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 100%;
  }
}

nav a {
  color: yellow !important;
}

/* like button */

img {
  opacity: 0;
  animation: fadeIn 6s ease-in-out forwards;
  display: block;
  margin: 0 auto;
  z-index: 1;
}


.image-container {
  position: relative;
}


.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: darkblue;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  z-index: 2;


}


.like-count {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #fff;
}